[everything_servers]
irc.myname.com ansible_ssh_host=66.175.108.44

[db_servers]
db.myapp.com ansible_ssh_host=182.33.59.13 private_ip=10.0.0.1

[app_servers]
app1.myapp.com ansible_ssh_host=182.33.49.121 private_ip=10.0.1.1
app2.myapp.com ansible_ssh_host=182.33.14.241 private_ip=10.0.1.2
app3.myapp.com ansible_ssh_host=182.33.93.74  private_ip=10.0.1.3

[worker_servers]
worker1.myapp.com ansible_ssh_host=182.33.49.21 private_ip=10.0.2.1
worker2.myapp.com ansible_ssh_host=182.33.49.31 private_ip=10.0.2.2
worker3.myapp.com ansible_ssh_host=182.33.49.41 private_ip=10.0.2.3
worker4.myapp.com ansible_ssh_host=182.33.49.51 private_ip=10.0.2.4

[linode:children]
*

[db_clients:children]
app_servers
worker_servers
