# Production servers

[loadbalancers]
???.???.???.???

[webservers]
???.???.???.???

[workers]
???.???.???.???

[dbservers]
???.???.???.???

[staging:children]
loadbalancers
webservers
workers
dbservers
