#{{ansible_managed}}

description "Sidekiq Worker ({{app_domain}})"

# Start is handled by /etc/init/{{sidekiq_init_worker_custer_ident}}.conf
stop on (stopping {{sidekiq_init_worker_custer_ident}} or runlevel [06])

normal exit 0 TERM # Term is sent by sidekiqctl when stopping

setuid {{app_user}}

instance $index

env PATH=/home/{{app_user}}/.rvm/wrappers/default

chdir {{app_current_directory}}

exec &> /dev/kmsg # log Sidekiq output to syslog
exec bundle exec sidekiq -i ${index} -e {{app_env}}

respawn
respawn limit 3 30
